{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<style type="text/css">
#submit {
  background-color: #bbb;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}

#submit:hover {
  border: none;
  background: orange;
  box-shadow: 0px 0px 1px #777;
}
</style>

	<h1 class="ui header" style="color:#CD853F">{{ title }}</h1>

	{% if current_user.is_authenticated %}
  <center>
	  	<h2 class="ui header" style="color:#CD853F">Hi {{ current_user.first_name }}!</h2>

      <form action="uploaded" method="post" enctype="multipart/form-data">
          <p style="font-size:x-large; color:#CD853F;"> Select image to upload: </p>
          <input id="submit" type="file" name="file">
          <br>
          <br>
          <input id="submit" type="submit" value="Upload Image" name="submit">
      </form>
  </center>
	{% endif %}

{% endblock %}
